# kayıp(missing) ve bozuk verilerle uğraşma (NaN)

In [3]:
import numpy as np 
import pandas as pd

In [4]:
arr = np.array([[10,20,np.nan],[5,np.nan,np.nan],[21,np.nan,10]])

In [5]:
df = pd.DataFrame(arr,index=["Index1","Index2","Index3"],columns = ["Column1","Column2","Column3"])
df

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index2      5.0      NaN      NaN
Index3     21.0      NaN     10.0

In [6]:
df.dropna()

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []

In [7]:
df.dropna(axis = 1)

        Column1
Index1     10.0
Index2      5.0
Index3     21.0

In [8]:
df.dropna(thresh = 2) # Minimum 2 tane NaN olmayan değer olması eşiği belirledik.

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index3     21.0      NaN     10.0

In [9]:
df.fillna(value = 100)

        Column1  Column2  Column3
Index1     10.0     20.0    100.0
Index2      5.0    100.0    100.0
Index3     21.0    100.0     10.0

In [10]:
df.fillna(value = 0.1)

        Column1  Column2  Column3
Index1     10.0     20.0      0.1
Index2      5.0      0.1      0.1
Index3     21.0      0.1     10.0

In [11]:
df.sum()

Column1    36.0
Column2    20.0
Column3    10.0
dtype: float64

In [12]:
df.size # Dataframedeki toplam eleman sayısı

9

In [14]:
df.isnull().sum().sum() # Toplam NaN sayısı

4

In [15]:
def calculateMean(df):
    totalSum = df.sum().sum()
    totalNum = df.size - df.isnull().sum().sum()
    return totalSum / totalNum

df.fillna(value = calculateMean(df))

        Column1  Column2  Column3
Index1     10.0     20.0     13.2
Index2      5.0     13.2     13.2
Index3     21.0     13.2     10.0